nav {
    margin-bottom: 25px;
}

/* Not being used due to all pertinent HTML being in a partial file referenced in parent HTML body */
.cart-success {
    color: rgb(0, 123, 255);
}

/* Not being used due to all pertinent HTML being in a partial file referenced in parent HTML body */
.cart-circle-custom {
    color: rgb(40, 167, 69);
    margin-top: -0.8rem;
    margin-left: 1rem;
}

/* Not being used due to all pertinent HTML being in a partial file referenced in parent HTML body */
.cart-count-position {
    margin-top: -2.3rem;
    color: black;
    font-size: 0.7rem;
}